{% extends 'base.html.twig' %}

{% block title %}Main Page{% endblock %}

{% block body %}
    <div class="bg-light mt-3 p-4 d-flex justify-content-center text-center">
        {{ form_start(form, {'class': 'dropzone'}) }}
            {% if form.vars.errors|length %}
                <div class="alert alert-danger">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            <div class="fallback">
                {{ form_row(form.file) }}
            </div>
{#        TODO: setting form drag&drop #}
            {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
